
.window-button.button:hover {
      -fx-background-color: #FFFFFF11;
      -icon-paint: white;
}

.window-button.button:pressed {
      -fx-background-color: #FFFFFF22;
}

.close-button.button:hover {
      -fx-background-color: #E81123;
      -icon-paint: white;
}

#root {
      -fx-background-color: white;
      -fx-min-width: 950;
      -fx-min-height: 650;
}

#webView {
      -fx-background-color: #EAEAEA;
}
#titleWindow {
      -fx-pref-height: 30;
      -fx-background-color: #344742;
}
#splashScreen {
      -fx-background-color: #344742;
}

#progressIndicator {
      -fx-accent: #EAEAEA;
      -fx-pref-height: 150;
      -fx-pref-width: 150;
}
