@font-face {
      font-family: "MyriadPro-Regular";   /*Can be any text*/
      src: local("MyriadPro-Regular"),
      url("../fonts/MyriadPro-Regular.ttf") format("truetype");
}

.button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
      cursor: pointer;
      background: #40B0A5;
      border: none;
      border-radius: 4px;
      color: white;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      min-width: 200px;
      height: 100%;
      font-family: 'MyriadPro-Regular', sans-serif;
      font-size: 16px;
      padding: 0 11px 0 11px;
}
.textWrapper {
      display: flex;
      justify-content: center;
      padding-top: 3px;
}
.button svg {
      font-size: 25px;
}

