@font-face {
      font-family: "MyriadPro-Semibold-Italic";   /*Can be any text*/
      src: local("MyriadPro-Semibold-Italic"),
      url("../fonts/MyriadPro-Semibold-Italic.ttf") format("truetype");
}

.input {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 46px;
      gap: 20px;
      font-family: 'MyriadPro-Semibold-Italic', sans-serif;
      font-style: italic;
      font-weight: 700;
      font-size: 19px;
}
.input input{
      height: 100%;
      outline: none;
      background: #FFFFFF;
      border: 1px solid #A1A2A4;
      border-radius: 4px;
}