@font-face {
      font-family: "MyriadPro-Semibold-Italic";   /*Can be any text*/
      src: local("MyriadPro-Semibold-Italic"),
      url("../fonts/MyriadPro-Semibold-Italic.ttf") format("truetype");
}

@font-face {
      font-family: "MyriadPro-Regular";   /*Can be any text*/
      src: local("MyriadPro-Regular"),
      url("../fonts/MyriadPro-Regular.ttf") format("truetype");
}

.input {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 46px;
      gap: 20px;
      font-family: 'MyriadPro-Semibold-Italic', sans-serif;
      font-size: 19px;
      color: black;
}
.input input{
      font-family: 'MyriadPro-Regular', sans-serif;
      height: 100%;
      width: 275px;
      outline: none;
      background: #FFFFFF;
      border: 1px solid #A1A2A4;
      border-radius: 4px;
      font-size: 19px;
      padding-left: 10px;
}

.inputWrapper {
      height: 100%;
      position:relative;
      display: flex;
      align-items: center;
}
.inputWrapper svg {
      color: #484964;
      position:absolute;
      left:90%;
}