@font-face {
      font-family: "MyriadPro-Semibold";   /*Can be any text*/
      src: local("MyriadPro-Semibold"),
      url("../fonts/MyriadPro-Semibold.ttf") format("truetype");
}

.title {
      display: flex;
      gap: 39px;
      padding-left:  26px;
      align-items: center;
      height: 64px;
      min-height: 64px;
      font-family: 'MyriadPro-Semibold' ;
      font-style: normal;
      font-size: 38px;
      color: #FFFFFF;
      background-color: #40B0A5;
}

img {
      height: 43px;
      width: 70px;
}