@font-face {
      font-family: "MyriadPro-Semibold-Italic";   /*Can be any text*/
      src: local("MyriadPro-Semibold-Italic"),
      url("../../fonts/MyriadPro-Semibold-Italic.ttf") format("truetype");
}

.chartsWindow {
      background: #EAEAEA;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 35px 50px 45px 50px;
}
.wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      height: 100%;
      width: 100%;
      border: 1px solid green;
}

.chartCard {
      width: 100%;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid red;
      padding-top: 30px;
}

.navBar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      border: 1px solid black;
      width: 100%;
      gap: 15px;
}

.navBarRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid blue;
      width: 100%;
}

.navBarButtonRow {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border: 1px solid blue;
      height: 39px;
      width: 100%;
}


.dropDownWrapper {
      display: flex;
      align-items: center;
      font-family: 'MyriadPro-Semibold-Italic', sans-serif;
      font-size: 16px;
      gap: 6px;
}
.dropDownWrapperText {
      padding-top: 11px;
      padding-bottom: 9px;
}