@font-face {
      font-family: "MyriadPro-Semibold";   /*Can be any text*/
      src: local("MyriadPro-Semibold"),
      url("../../fonts/MyriadPro-Semibold.ttf") format("truetype");
}
@font-face {
      font-family: "MyriadPro-Italic";   /*Can be any text*/
      src: local("MyriadPro-Italic"),
      url("../../fonts/MyriadPro-Italic.ttf") format("truetype");
}

.linearChart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      height: 100%;
      flex: 1;
}
.legendWrapper {
      display: flex;
      width: 100%;
}
.chartWrapper {
      display: flex;
      flex: 1;
      width: 100%;
}

.legend {
      display: flex;
      flex-direction: column;
      padding-left: 40px;
/*      border: 1px solid red;*/
}

.legendTitle {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: white;
      font-family: 'MyriadPro-Semibold', sans-serif;
      font-size: 20px;
      color: #355151;
}

.legendBody {
      display: flex;
      align-items: center;
      padding-top: 18px;
      gap: 50px;
}

.legendBodyColumn {
      display: flex;
      flex-direction: column;
}
.legendBodyRow {
      display: flex;
      flex: 1;
      font-family: 'MyriadPro-Italic', sans-serif;
      font-size: 16px;
      gap: 5px;
}
.legendBodyRowValue {
      font-family: 'MyriadPro-Semibold', sans-serif;
      font-size: 16px;
}

